#db-view-container{
    width: 100%;
    min-height: calc(100% - 44px - 50px);
    background-color: #e8e2db;
    /* color: #fffffe; */
}

#add-new-db-label,.db-name-label{
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}