#db-view-container{
    width: 100%;
    height: 100%;
    background-color: #e8e2db;
    /* color: #fffffe; */
}

.fa-plus{
    text-align: center;
    width: 100%;
    color: black;
}

#add-new-db-label,.db-name-label{
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}

#delete-button:hover{
    background-color: #941305;
    background-color: #030303;
    text-decoration: none;
}

#edit-button:hover{
    background-color: #727fc2;
    background-color: #030303;
    text-decoration: none;
}

#view-more-button:hover{
    background-color: #030303;
    text-decoration: none;
}