#pop-up-content{
    min-height: 50px;
    width: 300px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    z-index: 999;
    top: 0;
    right: 0;
    margin-top: 10px;
    /* box-shadow: 0px 0px 3px 2px black; */
    opacity: 0;
}

#popup-message{
    padding: 0 2px;
}

#close-icon{
    background-color: black;
    color: #fffffe;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    bottom: -24px;
}

.fade-in-animation{
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from   { transform:translate(0, 50px); opacity:0; }
    to { transform:translate(0, 0); opacity:1; }
}