.center-label{
    text-align: center;
    width: 100%;
}

.center-div{
    margin: 0 auto;
    display: block;
    margin-bottom: 4px;
}

.header-hr{
    width: 70%;
}

.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.button{
    text-align: center;
    position: relative;
    border: solid 1px black;
    margin: 0 5px 10px 5px;
    text-transform: uppercase;
    color: #212529!important;
    cursor: pointer;
}

.page-label{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.custom-card{
    border: 1px solid black;
    margin: 7px;
}

.delete-button:hover{
    background-color: #941305;
    background-color: #030303;
    color: #FFFFFE!important;
    text-decoration: none;
}

.edit-button:hover{
    background-color: #727fc2;
    background-color: #030303;
    color: #FFFFFE!important;
    text-decoration: none;
}

.view-more-button:hover{
    background-color: #030303;
    text-decoration: none;
    color: #FFFFFE!important;
}

.big-plus{
    text-align: center;
    width: 100%;
    color: black;
    cursor: pointer;
    line-height: inherit;
}

input{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.modal-options{
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 99;
}

.modal-options-content{
    background-color: #fffffe;
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.center-block{
    display: block;
    margin: 0 auto;
}

.suggestions{
    background-color: #e8e2db;
    color: #1A3263;
    position: absolute;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    top: 62px;
    left: 10%;
    border: 2px solid black;
    z-index: 100;
}

.suggestion-items{
    border: 1px solid black;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 999;
}

.suggestion-items:hover{
    color: #FFFFFE;
    background-color: #1A3263;
    cursor: pointer;
}