#home-container{
    width: 100%;
    height: calc(100% - 34px);;
    background-color: #e8e2db;
    color: #fffffe;
}

#login-container{
    width: 25%;
    background-color:#1A3263;
    border-radius: 2%;
    box-shadow:0px 0px 0px 9px black;
}

#login-button:hover{
    cursor: pointer;
    background-color: #e8e2db;
    color: #1A3263!important;
}


#auth-label{
    margin-bottom: 0;
    margin-top: 2%;
}

