#nav-container{
    border: 5px solid black;
    text-align: center;
    color: #fffffe!important;
    
}
.nav-link:hover {
    cursor: pointer;
    background-color: #e8e2db;
    color: #1A3263!important;
}

.nav-link{
    color: #fffffe!important;
}

#back-arrow{
    position: absolute;
    left: 10px;
    top: 4px;
    cursor: pointer;
}