#data-container {
  width: 100%;
  min-height: calc(100% - 44px - 50px);
  background-color: #e8e2db;
  /* color: #fffffe; */
}

table{
    width: 99%;
    text-align: center;
    border: 2px ridge black;
    margin: 0 auto;
    overflow-x: scroll;
}

th, td {
    border-bottom: 1px solid black;
}

thead > tr > th{
    background-color: black;
    padding: .2rem;
    color: #fffffe;
}

tbody > tr:hover{
    color: #fffffe;
    background-color:#1A3263;
    cursor: pointer;
}

#last-row-expection{
    color: black;
    background-color: #e8e2db;
    cursor: auto;
}

#last-row-expection > td > div{
    color: #fffffe;
    background-color: black;
    cursor: pointer;
    border: 2px solid black;
    margin: 2px;
}

#last-row-expection > td > div:hover{
    background-color: #1A3263;
}

