#table-view-container{
    width: 100%;
    height: calc(100% - 34px);
    background-color: #e8e2db;
    /* color: #fffffe; */
}

#db-name-selected{
    text-decoration: underline;
    font-style: italic;
}