#table-view-container{
    width: 100%;
    min-height: calc(100% - 44px - 50px);
    background-color: #e8e2db;
    /* color: #fffffe; */
}

#db-name-selected{
    text-decoration: underline;
    font-style: italic;
}

#big-plus{
    text-align: center;
    width: 100%;
    color: black;
    line-height: inherit;
}